body {
  font-size: 1.2em;
}

.activeTab {
  font-weight: bold;
}
/* unvisited link */
.catLink:link {
  color: red;
}

/* visited link */
.catLink:visited {
  color: green;
  background-color: aqua;
  text-decoration: underline;
}

/* mouse over link */
.catLink:hover {
  color: hotpink;
  text-decoration: underline;
}

/* selected link */
catLink:active {
  color: blue;
}
