<div class="container">
<div class="container" ng-controller="SignUpController as signUp">
  <h2 id="menu-categories-title" class="text-center">Sign Up Form</h2>

  <fieldset>
    <legend>Sign Up Form</legend>
    <form name="signUpForm" novalidate>

      <input type="text" name="firstname" placeholder="Enter your first name"
        ng-model="signUpCtrl.user.firstname"
        required
        minlength="1"
        ng-maxlength="10">
        {{signUpCtrl.user.firstname}}
        <span
          ng-if="(signUpForm.firstname.$error.minlength ||
          signUpForm.firstname.$error.required) && signUpForm.firstname.$touched">
          First name must be at least 1 character long
        </span>
        <span
          ng-if="signUpForm.firstname.$error.maxlength && 
          signUpForm.firstname.$touched">
          First name must not be longer than 10 characters long
        </span>

        <button
          ng-disabled="signUpForm.$invalid"
          ng-click="signUpCtrl.submit(signUpCtrl.user)">Submit
        </button>

    </form>
  </fieldset>

</div>
